$base-font-size: 16px;
$green: #60BEAE;
$small-font-size: 12px;







@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?3dxkuq');
    src:    url('../fonts/icomoon.eot?3dxkuq#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?3dxkuq') format('truetype'),
        url('../fonts/icomoon.woff?3dxkuq') format('woff'),
        url('../fonts/icomoon.svg?3dxkuq#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-rss:before {
    content: "\f034";
}
.icon-camera:before {
    content: "\e90f";
}
.icon-book:before {
    content: "\e91f";
}
.icon-profile:before {
    content: "\e923";
}
.icon-envelop:before {
    content: "\e945";
}
.icon-spoon-knife:before {
    content: "\e9a3";
}
.icon-clipboard:before {
    content: "\e9b8";
}
.icon-facebook:before {
    content: "\ea90";
}
.icon-twitter:before {
    content: "\ea96";
}




.float-left {
	float: left; 
}

.float-right {
	float: right; 
}

.clearfix {
  *zoom: 1;
  &:after {
    content: '';
    display: table;
    line-height: 0;
    clear: both;
  }
}

.background-white { background-color: #fff; }
.background-black { background-color: #000; }