@import 'reset';
@import 'init';

body{
  max-width: 1060px;
	margin: 50px auto;	
  a {
    text-decoration: none;
    color: $green;
    cursor: pointer;
  }
}

.siderbar {
	width: 18%;
  padding-right: 2%;
  .brand { width: 75%; }
	nav {
    ul > li{
          margin: 20px 0;
          span { 
            font-size: 28px;
            vertical-align: middle;
            margin: 0 20px 0 10px; 
          }
          a {
            font-size: 18px;
            font-style: italic;
          }
        } 
	}
}

.right-sider {
  width: 80%;
  margin-bottom: 50px;
	section#featured {
		margin-bottom: 30px;
    .featured-image {
      img {
        display: block;
        width: 100%;
      }
      > p {
        position: relvative; 
        font-size: 32px;
      }
    }
		ul.featured-items {
			padding: 0;
			margin: 0;
			background: #EFF8F7;
			li {
				width: 25%;
        float: left;
        box-sizing: border-box;
        text-align: center;
        vertical-align: middle;
        color: $green;
        border-left: #D3EDE9 solid 1px;
        &:first-child {
        	border-left: none;
        }
        &.active {
          background-color: #D9EFEC;
        }
        a {
          margin: 20px 0 20px 20px;
          display: block;
          p {
            text-align: left;
            line-height: 1.2em;
            &.title { font-size: 18px; }
            &.description { 
              font-size: 14px;
              font-style: italic; 
            }
          }
        }
      }
		}
	}

	section#newsletter {
		clear: both;
    border-top:1px dashed #E5E5E5;
    border-bottom:1px dashed #E5E5E5;
    padding: 10px 0;
    span { 
      font-size: 32px;
      margin: 0 20px;
    }
    p {
      width: 50%;
      font-style: italic;
      font-size: 12px;
      line-height: 1.3em;
    }
    form {
      width: 35%;
      input { 
        width: 65%;
        line-height: 1.6em; 
      }
      button {      
        font-weight: bold;
        padding: 5px 10px;
        border: 1px solid;
        border-color: #ddd #ddd #999;
        text-shadow: #fff 0 1px 1px;
        border-radius: 5px;
      }
    }
  }

  section#recent {
    margin-top: 30px;
    article {
      width: 25%;
      box-sizing: border-box;
      float: left;
      display: inline-block;
      padding: 0 35px 15px 0;
      .image-container {
        border: 1px solid #EAEAEA;
        padding: 10px;
        margin-bottom: 10px;
        img { width: 100%; }
      }
      p.description { margin: 10px 0; }
      p.meta { color: #AAA; }
    }
  }
}

aside.socialinfo {
  position: absolute;
  width: 150px;
  top: 480px;
  section {
    margin-bottom: 30px;
    font-size: $small-font-size;
    .title { 
      text-transform: uppercase;
      padding-bottom: 5px;
      border-bottom: 1px dashed #E5E5E5;
     }
     p {
      font-style: italic;
      margin: 10px 0 15px 0;
      line-height: 1.5em;
     }
     a.button {
      display: block;
      border: 1px solid #E5E5E5;
      padding: 6px;
      border-radius: 5px;
      font-size: 1.1em;
     }
  }
}

footer.siteinfo {
  position: relative;
  clear: both;
  padding-top: 20px;
  border-top: 2px solid #E5E5E5;
  .footlink {
    font-size: .75em;
    line-height: 1.5em;
    color: #AAA;
    a:before { content: ' | ';}
    a:first-child:before { content: ''; }
  }
  .social {
    position: absolute;
    right: 0;
    top: 20px;
    a > span[class^='icon-'] {
        font-size: 32px;
        color: #999999;
    } 
  }
}


